    * { margin: 0; padding: 0; box-sizing: border-box;}
    
    a { text-decoration: none; color: black; }  

    body {
        background-image: url('/img/background/funeral_background1.jpg'); /* 이미지 경로 */
        background-size: cover;  /* 화면에 꽉 차게 */
        background-position: center;
        background-repeat: no-repeat; /* 반복 안 함 */
        background-attachment: fixed;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(110, 110, 110, 0.733); /* 어두운 반투명 레이어 */
        z-index: -1;
}


    .procedure-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.247);
        justify-content: center;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        margin-bottom: 150px;
        width: 730px;
        user-select: none;
    }
    .headline {
        position: relative;
        top: -70px;
    }
    .inner-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 50px;
        padding-right: 50px;
    }
    .inner-content div {
        padding-top: 30px;
    }
    .c6 {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .side {
        position: relative;
        left: -480px;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.04);
        width: 130px;
        height: 150px;
    }
    .side span {
        text-align: center;
        width: 130px;
        height: 50px;
    } 
    .s1 {
        font-size: 15px;
        border-radius: 0 0 0 20px;
        background-color: rgba(255, 242, 147, 0.3);
    }
    .s2, .s3 {
        line-height: 50px;
        font-size: 15px;
    }
    .s2 {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .s2 a, .s3 a {
    color: black; /* 원하는 색상으로 변경 */
    text-decoration: none; /* 밑줄 제거 */
    /* 필요하다면 다른 스타일 추가 (예: font-weight, padding 등) */
}