a {
  text-decoration: none;
  color: inherit;
}


.post-container {
  max-width: 720px;
  margin: 30px auto;
  border: 2px solid #DEDEDE;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
}

.post-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tolist {
  color: #F35F4C;
  font-size: 14px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
  margin-bottom: 16px;
}

.post-content {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.post-images img {
  max-width: 100%;
  margin: 12px 0;
  border-radius: 8px;
}

.post-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
}

.btn-share {
  /* background: #f0f0f0; */
  border: 1px solid black;
  min-width: 150px;
  height: 40px;
}
.btn-share:hover {
  background: #e0e0e0;
}

.btn-like {
  background: #ffbbbb;
  color: white;
  min-width: 150px;
  height: 40px;
}
.btn-like:hover {
  background: #ff9999;  
  color: white;
}
.btn-like:disabled {
  background-color: #ff9999; 
  color: white;
  opacity: 1; 
  cursor: not-allowed;
}

.comment-box {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.comment {
  margin-top: 12px;
}

.comment-meta {
  font-size: 12px;
  color: #888;
}

.comment-content {
  font-size: 14px;
}

.content {
  min-height: 220px;
}

.comment-b {
  background-color: #ff9999;
  color: white;
}

.comment-b:hover {
  background: #ffbbbb; 
  color: white;
}
.toastui-editor-contents img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}
.icon-heart {
  color: white;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  transition: all 0.2s ease;
}

.icon-heart.selected {
  color: red;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.comment-update {
  background-color: #ff9999;
  color: white;
}
.comment-update:hover {
  background-color: #ffbbbb;
  color: white;
}

.comment-line {
  /* border-bottom: 1px solid #f0f0f0; */
  padding-bottom: 5px;
}

.comment-reply {
  border-top: 1px solid #f0f0f0;
  padding-top: 5px;
}

.btn-reply {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;               
  height: 25px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 11px;           
  color: #495057;
  cursor: pointer;
  white-space: nowrap;      
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.btn-reply:hover {
  background-color: #aaa9a9;
}

.btn-reply a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 11px;         
  line-height: 1;
}

.profile-img {
  border-radius: 50%;
}
