@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss" prefix(tw);
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
  include: all;
  exclude: ;
  prefix: ;
  logs: true;
}

body {
  background-color: #f5f5f5;
}
