@import "tailwindcss" prefix(tw);
@plugin "daisyui"{
  themes: all;
  root: ":root";
  include: all;
  exclude: ;
  prefix: ds-;
  logs: true;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
